#btn__color {
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 4rem;
  top: 2rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px rgb(15, 75, 128);
  cursor: pointer;
}

#btn__color2 {
  display: none;
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px rgb(15, 75, 128);
  cursor: pointer;
}

#btn__color:hover,
#btn__color2:hover {
  background: #ccc;
  transition: background 0.5s;
}

.btn-primary {
  animation: inputMove 2s backwards;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  width: 50%;
  height: 2rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 2px black;
  font-weight: 800;
  font-size: 13px;
  margin: 3rem 0;
}
.btn:hover {
  background: rgba(15, 75, 128, 0.9);
  transition: background 0.5s ease-out;
  color: white;
}
